*{
    margin:0px;
    padding:0px;
}
.section1{
    height: 75vh;
    width: 100vw;
    background-color:#cd5bc9;
}
.section2{
    height: 25vh;
    width:100vw;
    background-color: white;
}
.hclass1{
    text-decoration: underline;
    text-align: center;
    height: 70px;
    position: relative;
    left: 41rem;
}
.head-h1{
    position: absolute;
    bottom: 0px;
}
.hclass2{
    text-decoration: none;
    animation: blinking 1.5s infinite ease-in-out;
    transition: 1.2s;
    margin-left: 50px;
    margin-top:4%;
    background: linear-gradient(to right,black,pink,purple,#cd5bc9);
    -webkit-background-clip: text;
    color: transparent;
}
@keyframes blinking{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.img1{
    border: 2px solid black;
    margin-left: 32%;
    margin-top: 5%;
    border-radius: 50px;
    background-color: whitesmoke;
    transition: 0.5s;
    animation:fade 1s 1 forwards ease-in-out;
}
.img2{
    position: absolute;
    bottom:0px ;
    margin-left: 1200px;
}
.b1{
    height: 130px;
    width:100vw;
}

body{
    animation: fadeIn 0.8s ease-in-out;
    transition:opacity 0.5s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}